*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}



.wrapper {
    min-height: 100%;
    overflow: hidden;
}


.calculator__container {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}

.calculator__input {
    background-color: #462855;
    font-size: 50px;
    height: 100px;
    width: 100%;
    text-align: right;
    color: #ffffff;
    border: 3px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.calculator__body {
    width: 100%;
    min-height: 500px;
    padding: 15px;
    background-color: #424242;
    display: grid;
    gap: 10px 20px;
    grid-template-columns: [start] 1fr [col1] 1fr [col2] 1fr [col3] 1fr [col-end];
    grid-template-rows: [start] 100px [row1] 100px [row2] 100px [row3] 100px [row-end];
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.calculator__buttons {
    font-size: 60px;
    text-align: center;
    background-color: rgb(87, 85, 85);
    border-radius: 30px;
    color: white;
    padding: 10px;
}

.zero {
    grid-column-end: col2;
}

.clear {
    grid-row-start: row3;
}

.operation {
    background-color: orange;
    grid-column-end: col-end;
}

.calc {
    background-color: rgb(205, 157, 25);
    grid-column-end: col-end;
}

.point {
    grid-column-end: col3;
    grid-row-end: row-end;
}

.calculator__buttons:hover {
    background-color: white;
    color: black;
    transition: 0.6s all ease;
    cursor: pointer;
}

.calculator__buttons:active {
    background-color: #d0d0d0;
}